.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  background-image: url(https://media.istockphoto.com/id/837011094/photo/defocused-blurred-motion-abstract-background-orange-yellow.jpg?b=1&s=170667a&w=0&k=20&c=PPVNPKJMhYJSeNzMRBqifhXgIiFkeNLOI_jpIWlpTmg=);
 background-repeat: no-repeat;
}
.nav a{
  text-decoration: none;
  text-colour:pink;
  font-size: 15px;
  text-align: justify;
}
.navbar{
  display: flex;
 }
 .Home{
  background-color: yellow;
  text-align: left  ;
 }